<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="WhatsMicFix 1.2"
        android:icon="@android:drawable/ic_btn_speak_now"
        android:theme="@style/Theme.WhatsMicFix">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Fuerza perfil de micro correcto en WhatsApp y habilita AGC/NS para arreglar audios bajos en Pixel 8/serie 8 (A14-A16)." />
        <meta-data android:name="xposedminversion" android:value="93" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="WhatsMicFix">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="24" />
</manifest>
