<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.WhatsMicFix">
        <!-- Requisitos de LSPosed/Xposed -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Fuerza perfil de micro correcto en WhatsApp y habilita AGC/NS para arreglar audios bajos (A14–A16)." />
        <meta-data android:name="xposedminversion" android:value="93" />
        <!-- Pantalla de ajustes -->
        <activity
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
