<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.d4vram.whatsmicfix"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="WhatsMicFix"
        android:icon="@android:drawable/ic_btn_speak_now">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Fuerza perfil de micro correcto en WhatsApp y habilita AGC/NS para arreglar audios bajos en Pixel 8/serie 8 (A14-A16)." />
        <!-- XposedBridge 93+ es compatible con LSPosed moderno -->
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />
</manifest>
